/*          Author: Richard Myatt
              Date: 15 August 2018

              This code illustrates the difference in the way a
              group and a symbol are rendered and is taken from a similar example in chapter 5 of 'SVG Essentials' by
              J. David Eisenberg.
*/

h1, svg, .notes {
  margin-left: 20px;
}

.notes {
  width: 450px;
  text-align: justify;
  margin-left: 20px;
}
