/*                  Author: Richard Myatt
                    Date: 28 September 2018

                    rgb in motion - animation.
*/

body {
  background-color: #eee;
}

.container {
  width: 60vh;
  height: 60vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 10vh auto;
  border: 4px solid yellow;
}
