/*         Author: Richard Myatt
              Date: 30 August 2018

              The 8 sec scketch.  An exercise in animating SVG elements.
*/

body {
  background-color: lightgrey;
}

h1 {
  text-align: center;
  font-size: 25px;
}

.container {
  width: 70vw;
  margin: 0 auto;
  border: 2px solid teal;
}
