/*            Author: Richard Myatt
              Date: 10 August 2018

              This is a demo of showing how external files and elements of a
              file can be referenced and displayed.  The contents of the two
              external files are shown below:

green_circle.svg
<?xml version="1.0"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.0//EN"
  "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">

<svg id="circle"  width="100" height="100" xmlns="http://www.w3.org/2000/svg">
  <circle id="greencircle" cx="50" cy="50" r="50" fill="green" />
</svg>

and bullseye.svg
<?xml version="1.0"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.0//EN"
  "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">

<svg id="bullseye" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
  <title>Bullseye</title>
  <desc>Image for testing preserveAspectRatio</desc>

    <circle cx="50" cy="50" r="40" style="stroke: none; fill: green;" />
    <circle id="inner-circle" cx="50" cy="50" r="20" style="stroke: none; fill: red;" />
    <line x1="10" y1="50" x2="90" y2="50" style="stroke: black; stroke-width: 5;" />
    <line x1="50" y1="10" x2="50" y2="90" style="stroke: black; stroke-width: 5;" />
</svg>

*/

h1, .container, .pattern, .notes {
  margin-left: 20px;
}

.container {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
