/*          Author: Richard Myatt
              Date: 24 August 2018

              An svg image produced using Inkscape.  See
              https://www.youtube.com/watch?v=TDI2ViYw4KY
*/

h1, svg {
  margin-left: 20px;
}
