/*                Author: Richard Myatt
                  Date: 3 November 2018

                  Revised 6 November 2018 - svg mask demo.
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fefefe;
}

.container {
  width: 150vh;
  height: 100vh;
  margin: 5vh auto;
  -webkit-box-shadow: 5px 8px 3px #888;
          box-shadow: 5px 8px 3px #888;
}

#guide {
  visibility: visible;
  pointer-events: visible;
}

#guide:hover {
  cursor: pointer;
}
