/*              Author: Richard Myatt
                  Date: 6 December 2018

                  Greyscale colour aids to help explore the use of svg filters.
*/

body {
	background-color: #eee;
}

h1 {
	font-size: 25px;
}

svg, h1 {
	margin-left: 20px;
}
