/*            Author: Richard Myatt
                Date: 19 August 2018

                A demonstration of the use of the marker tag within an svg
                element based on an example in chapter 7 of 'SVG Essentials' by
                J. David Eisenberg.
*/

body {
  background-color: #eee;
}

h1, svg, .notes {
  margin-left: 20px;
}

.notes {
  width: 450px;
  text-align: justify;
  margin-left: 20px;
}
