/*              Author: Richard Myatt
                Date: 25 November 2018

                A demo to show the feComposite filter in use based on a similar
                demo at http://apike.ca/prog_svg_filter_feBlend.html
*/

body {
  background-color: #eee;
}

h1 {
  font-size: 25px;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 60vw;
  height: 40vw;
}

@media only screen and (max-width: 1200px) {

  .container {
    width: 80vw;
    height: 53.33vw;
  }
}

@media only screen and (max-width: 600px) {

  h1 {
    font-size: 16px;
  }

  .container {
    width: 95vw;
    height: 63.33vw;
  }
}
