/*            Author: Richard Myatt
              Date: 16 September 2018

              A simple example of the use of a clipping path based on a similar
              example in chapter 10 of 'SVG Essentials' by J. David Eisenberg.
*/

h1 {
    font-size: 25px;
}

h1, svg, .notes {
  margin-left: 20px;
}

.notes {
  width: 450px;
  text-align: justify;
  margin-left: 20px;
}
