/*            Author: Richard Myatt
              Date: 4 October 2018

              An exercise in defining motion around an infinity symbol.
*/

body, html {
  height: 100%;
  margin: 0;
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/starry_sky.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 60vw;
}

@media only screen and (max-width: 1400px) {

  .container {
    width: 80vw;
  }

}

@media only screen and (max-width: 600px) {

  .container {
    width: 95vw;
  }

}
