/*                Author: Richard Myatt
                  Date: 28 November 2018

                  An example of the use of the feTurbulence filter.
*/

body {
  background-color: #eee;
}

h1 {
  font-size: 25px;
}

svg, h1 {
  margin-left: 20px;
}
