/*              Author: Richard Myatt
                  Date: 27 November 2018

                  An example of the feMorphology filter based on a similar
                  example in chapter 11 of 'SVG Essentials' by J. David Eisenberg.
*/

body {
  background-color: #eee;
}

h1 {
  font-size: 25px;
}

svg, h1 {
  margin-left: 20px;
}
