/*                Author: Richard Myatt
                  Date: 29 November 2018

                  Revision: 1 December 2018.  Image lightened and renamed.

                  A first trial to produce a duotone image.
*/

body {
  background-color: #888;
}

.container {
  width: 40vw;
  height: 50vw;
  margin: 20px auto;
}

img {
  width: 100%;
  height: 100%;
  -webkit-filter: url(#duotone);
          filter: url(#duotone);
}

@media only screen and (max-width: 1200px) {

  .container {
    width: 60vw;
    height: 75vw;
  }
}

@media only screen and (max-width: 600px) {

  .container {
    width: 80vw;
    height: 100vw;
  }
}
