/*          Author: Richard Myatt
            Date: 31 August 2018

            A demonstration of the use of the SVG set tag based on
            an example in chapter 12 of 'SVG Essentials' by J. David
            Eisenberg.
*/

body {
  background-color: #eee;
}

h1, svg, .notes {
  margin-left: 20px;
}

.notes {
  width: 450px;
  text-align: justify;
  margin-left: 20px;
}
