/*        Author: Richard Myatt
          Date: 23 August 2018

          An example of how linear gradients can be applied to
          an SVG image based on a similar example in chapter 8
          of 'SVG Essentials' by J. David Eisenberg.
*/

h1, svg, .notes {
  margin-left: 20px;
}

.notes {
  width: 450px;
  text-align: justify;
  margin-left: 20px;
}
