/*      Author: Richard Myatt
          Date: 23 August 2018

          An example of using a radial gradient in an svg image
          based on a similar example in chapter 8 of 'svg
          Essentials' by J. David Eisenberg.
*/

h1, svg, .notes {
  margin-left: 20px;
}

.notes {
  width: 450px;
  text-align: justify;
  margin-left: 20px;
}
